In [ ]:
import json
print("Dictionary: ", json.dumps({"name": "John", "age": 30}))
print("List:       ", json.dumps(["apple", "bananas"]))
print("Tuple:      ", json.dumps(("apple", "bananas")))
print("String:     ", json.dumps("hello"))
print("Integer:    ", json.dumps(42))
print("Float:      ", json.dumps(31.76))
print("True:       ", json.dumps(True))
print("False:      ", json.dumps(False))
print("None:       ", json.dumps(None))

Dictionary:  {"name": "John", "age": 30}
List:        ["apple", "bananas"]
Tuple:       ["apple", "bananas"]
String:      "hello"
Integer:     42
Float:       31.76
True:        true
False:       false
None:        null

In [ ]:
import json
json_data = '{"acronym": "BLD", "name": "Boulder Colorado", \
              "latitude": 40.00, "longitude": -105.25}'
python_obj = json.loads(json_data)
print("Name:     ", python_obj["name"])
print("Acronym:  ", python_obj["acronym"])
print("Latitude: ", python_obj["latitude"])
print("Latitude: ", python_obj["longitude"])

print()
print(json.dumps(python_obj, sort_keys=True, indent=4))

Name:      Boulder Colorado
Acronym:   BLD
Latitude:  40.0
Latitude:  -105.25

{
    "acronym": "BLD",
    "latitude": 40.0,
    "longitude": -105.25,
    "name": "Boulder Colorado"
}

In [ ]:
import json
array = '{"drinks": ["coffee", "tea", "water"]}'
data = json.loads(array)

print(json.dumps(data, sort_keys=True, indent=4))
print()
for element in data["drinks"]:
    print(element)

{
    "drinks": [
        "coffee",
        "tea",
        "water"
    ]
}

coffee
tea
water

In [ ]:
import json
json_data = '{"acronym": "BLD", "name": "Boulder Colorado", \
              "latitude": 40.00, "longitude": -105.25}'
python_obj = json.loads(json_data)
print("Name:     ", python_obj["name"])
print("Acronym:  ", python_obj["acronym"])
print("Latitude: ", python_obj["latitude"])
print("Latitude: ", python_obj["longitude"])


print(json.dumps(python_obj, sort_keys=True, indent=4))

Name:      Boulder Colorado
Acronym:   BLD
Latitude:  40.0
Latitude:  -105.25
{
    "acronym": "BLD",
    "latitude": 40.0,
    "longitude": -105.25,
    "name": "Boulder Colorado"
}

In [ ]:
import json
json_string = """
{
    "researcher": {
        "name": "Ford Prefect",
        "species": "Betelgeusian",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ]
    }
}
"""
data = json.loads(json_string)
print(json.dumps(data, sort_keys=True, indent=4))

{
    "researcher": {
        "name": "Ford Prefect",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ],
        "species": "Betelgeusian"
    }
}

In [ ]:
import json
from google.colab import drive
drive.mount('/content/drive')

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

with open('/content/drive/My Drive/s1.json', "w") as fid:
     json.dump(x, fid)

Mounted at /content/drive

In [ ]:
with open('/content/drive/My Drive/s1.json', "r") as fid:
     z = json.load(fid)

print(z)
for key in z:
    print(key+":\t", z[key])

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ['Ann', 'Billy']
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

In [ ]:
import json
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
print("Python Object: \n\t", x)

for key in x:
    print(key+":\t", x[key])

x_js = json.dumps(x)
print("\nCorresponding JSON Object: \n\t", x_js)
y = json.loads(x_js)
print("\nGoing back to Python: \n")
for key in y:
    print(key+":\t", y[key])

Python Object:
	 {'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ('Ann', 'Billy')
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

Corresponding JSON Object:
	 {"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

Going back to Python:

name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ['Ann', 'Billy']
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

In [ ]:
%%writefile apod.json
{
    "media_type": "image",
    "copyright": "Yin Hao",
    "date": "2018-10-30",
    "url": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_960.jpg",
    "explanation": "Meteors have been shooting out from the constellation of Orion. This was expected, as October is the time of year for the Orionids Meteor Shower.  Pictured here, over two dozen meteors were caught in successively added exposures last October over Wulan Hada volcano in Inner Mongolia, China. The featured image shows multiple meteor streaks that can all be connected to a single small region on the sky called the radiant, here visible just above and to the left of the belt of Orion, The Orionids meteors started as sand sized bits expelled from Comet Halley during one of its trips to the inner Solar System. Comet Halley is actually responsible for two known meteor showers, the other known as the Eta Aquarids and visible every May. An Orionids image featured on APOD one year ago today from the same location shows the same car. Next month, the Leonids Meteor Shower from Comet Tempel-Tuttle should also result in some bright meteor streaks. Follow APOD on: Facebook, Instagram, Reddit, or Twitter",
    "hdurl": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_2324.jpg",
    "title": "Orionids Meteors over Inner Mongolia",
    "service_version": "v1"
}

Writing apod.json

In [ ]:
# Read the file
with open("apod.json", "r") as f:
    json_text = f.read()
# Decode the JSON string into a Python dictionary.
apod_dict = json.loads(json_text)
print(apod_dict['explanation'])
# Encode the Python dictionary into a JSON string.
new_json_string = json.dumps(apod_dict, indent=6)
print(new_json_string)
new_json_string = json.dumps(apod_dict, indent=6, sort_keys=True)
print(new_json_string)

Meteors have been shooting out from the constellation of Orion. This was expected, as October is the time of year for the Orionids Meteor Shower.  Pictured here, over two dozen meteors were caught in successively added exposures last October over Wulan Hada volcano in Inner Mongolia, China. The featured image shows multiple meteor streaks that can all be connected to a single small region on the sky called the radiant, here visible just above and to the left of the belt of Orion, The Orionids meteors started as sand sized bits expelled from Comet Halley during one of its trips to the inner Solar System. Comet Halley is actually responsible for two known meteor showers, the other known as the Eta Aquarids and visible every May. An Orionids image featured on APOD one year ago today from the same location shows the same car. Next month, the Leonids Meteor Shower from Comet Tempel-Tuttle should also result in some bright meteor streaks. Follow APOD on: Facebook, Instagram, Reddit, or Twitter
{
      "media_type": "image",
      "copyright": "Yin Hao",
      "date": "2018-10-30",
      "url": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_960.jpg",
      "explanation": "Meteors have been shooting out from the constellation of Orion. This was expected, as October is the time of year for the Orionids Meteor Shower.  Pictured here, over two dozen meteors were caught in successively added exposures last October over Wulan Hada volcano in Inner Mongolia, China. The featured image shows multiple meteor streaks that can all be connected to a single small region on the sky called the radiant, here visible just above and to the left of the belt of Orion, The Orionids meteors started as sand sized bits expelled from Comet Halley during one of its trips to the inner Solar System. Comet Halley is actually responsible for two known meteor showers, the other known as the Eta Aquarids and visible every May. An Orionids image featured on APOD one year ago today from the same location shows the same car. Next month, the Leonids Meteor Shower from Comet Tempel-Tuttle should also result in some bright meteor streaks. Follow APOD on: Facebook, Instagram, Reddit, or Twitter",
      "hdurl": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_2324.jpg",
      "title": "Orionids Meteors over Inner Mongolia",
      "service_version": "v1"
}
{
      "copyright": "Yin Hao",
      "date": "2018-10-30",
      "explanation": "Meteors have been shooting out from the constellation of Orion. This was expected, as October is the time of year for the Orionids Meteor Shower.  Pictured here, over two dozen meteors were caught in successively added exposures last October over Wulan Hada volcano in Inner Mongolia, China. The featured image shows multiple meteor streaks that can all be connected to a single small region on the sky called the radiant, here visible just above and to the left of the belt of Orion, The Orionids meteors started as sand sized bits expelled from Comet Halley during one of its trips to the inner Solar System. Comet Halley is actually responsible for two known meteor showers, the other known as the Eta Aquarids and visible every May. An Orionids image featured on APOD one year ago today from the same location shows the same car. Next month, the Leonids Meteor Shower from Comet Tempel-Tuttle should also result in some bright meteor streaks. Follow APOD on: Facebook, Instagram, Reddit, or Twitter",
      "hdurl": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_2324.jpg",
      "media_type": "image",
      "service_version": "v1",
      "title": "Orionids Meteors over Inner Mongolia",
      "url": "https://apod.nasa.gov/apod/image/1810/Orionids_Hao_960.jpg"
}

In [ ]:
import json

jsonData = '{"ID":"123", "Name": "Hamza"}'

data = json.loads(jsonData)

newData = {"DOB": "22-10-2001"}

data.update(newData)

print(data)

{'ID': '123', 'Name': 'Hamza', 'DOB': '22-10-2001'}

In [ ]:
import json

studentsList = []
print("Started Reading JSON file which contains multiple JSON document")
with open('students1.txt') as f:
    for jsonObj in f:
        studentDict = json.loads(jsonObj)
        studentsList.append(studentDict)

print("Printing each JSON Decoded Object")
for student in studentsList:
    print(student["id"], student["name"], student["class"], student["email"])